# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
.turbo
out
build

# Env
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Misc
*.tsbuildinfo
coverage
